flutter/ephemeral/

# Visual Studio 사용자별 파일
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 빌드 관련 파일
x64/
x86/

# Visual Studio 캐시 파일
# .cache로 끝나는 파일은 무시할 수 있다.
*.[Cc]ache
# 단, .cache로 끝나는 디렉터리는 추적한다.
!*.[Cc]ache/
